/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #293846;
    color: white;
}
.bg-heading {
  background-color: #F46525;
  color: #ffffff;
}

.top-navigation .wrapper.wrapper-content {
  padding: 10px !important;
  padding-bottom: 60px !important;
}

.dashboard-button {
  margin-left: 5px;
  margin-right: 5px;
}

.filter-col {
  min-height: 75px;
}

.graph-content > .ibox > .ibox-content {
  padding: 0px !important;
}

.graph-content > .ibox {
  margin-bottom: 15px !important;
}

.report-number {
  font-size: 60px;
  font-weight: 500;
  line-height: 2;
}

.ct-label {
    font-size: 1.2rem;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: '#1AB394' !important;
}

/*-----------flex css------------------*/
.flex-element {
  display: flex; }
  .flex-element.pull-right {
    justify-content: flex-end; }
  .flex-element.center {
    justify-content: center; }
  .flex-element.center-both {
    align-items: center;
    justify-content: center; }
  .flex-element.align-bw {
    justify-content: space-between; }
  .flex-element.wrap {
    flex-wrap: wrap; }
/*-----------flex css------------------*/
.space5{ height: 5px; clear:both;}
.space10{ height: 10px; clear:both;}
.space15{ height: 15px; clear:both;}
.space20{ height: 20px; clear:both;}
.space25{ height: 25px; clear:both;}
.main-entry-box {
    min-width: auto;
    margin: 0 auto 15px;
    border-radius: 0px !important;
    border-top: 3px solid lighten(@navy,40) !important;
    box-shadow: 0px 10px 5px -10px #b9b9b9 !important;
    padding: 20px 3px !important;
    width: auto;
}
.main-entry-box.entry-box95{ min-width:95%}
.ui-select-bootstrap .ui-select-choices-row.active>span {
    background-color: @navy;
}
.panel-heading {
    padding: 11px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 13px;
}
label {
    font-weight: 600 !important;
    font-size: 12px;
    color: #293846;
}
.panel-primary > .panel-heading {
    background-color: #1ab394;
    border-color: #1ab394;
    background: #1ab394;
    background: -webkit-linear-gradient(top, #1ab394 0%, #16987e 100%);
    background: linear-gradient(to bottom, #1ab394 0%, #16987e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@navy', endColorstr='darken(@navy, 6)', GradientType=0);
}
.btn-primary {
    background: #FB6500;
    color: #FFF;
    -webkit-box-shadow: 0px 4px 0px rgba(201,80,0,1), 0px 4px 25px rgba(0,0,0,.0);
    -moz-box-shadow: 0px 4px 0px rgba(201,80,0,1), 0px 4px 25px rgba(0,0,0,.0);
    box-shadow: 0px 4px 0px rgba(201,80,0,1), 0px 4px 25px rgba(0,0,0,.0);
}
.btn-primary-backup {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    background: #1ab394;
    background: -webkit-linear-gradient(top, #1ab394 0%, #16987e 100%);
    background: linear-gradient(to bottom, #1ab394 0%, #16987e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@navy', endColorstr='darken(@navy, 6)', GradientType=0);
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;

    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.welcome-message a {
    color: @navy;
    display: block;
}
.form-control, .single-line {

    font-size: 13px !important;
}
.ui-select-container .form-control
{
  width: 100%;
}
a {
    color: @navy;
    text-decoration: none;
}

.login-main > div {
    padding: 0px;
}
.login-block
{
  margin: 0px 15px;
}
.image-block {
    height: 100vh !important;
}
.image-block
{
  position: relative;
  z-index: 0;
  background-image: url(../img/login--bg.jpg);
  background-size: cover;
  background-position: left;
}
.bgimage-caption {
    background-color: rgba(26, 179, 148, 0.8);
    color: #FDFDFD;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.bgimage-caption hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-block {
    background: #fff;
    background-image: url(../img/medi-bg.jpg);
    height: 100vh !important;
    display: table;
    width: 100%;
    text-align: center;
}
.form-block-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 0px;
    text-align: left;
}
.status_display{ text-align: right;}
.status_display h4{ margin: 0; font-size: 14px;}
.status_display h4 span{ color: #F46525;}
@media (min-width: 992px)
{
.login-block, .reg-block {
    max-width: 400px;
    margin: 0 auto;
}
}
.form-block img {
    margin-bottom: 8px;
    width: 231px;
}
.form-block h2 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 14px;
    color: #6E6E6E;
}
.form-block-inner .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    background-color: rgba(255, 255, 255, 0.53);
}
.form-block .input-group-addon {
    min-width: 40px;
    background: transparent;
    border-color: rgba(214,214,214,.5);
    padding-right: 0;
}
.form-block .input-group-addon i {
    font-size: 16px;
    position: relative;
    top: 1px;
    color: #CBCBCB;
}
.form-block .input-group input.form-control {
    background: transparent;
    border-left: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    border-color: rgba(214,214,214,.5);
    border-left: none;
    color: #969595;
}
.form-block .input-group input.form-control:focus {
    border-color: #ebebeb !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.copyright-block
{
    margin-top: 5em;
}

.label-bg {
    background-color: #fff9f5;
}
.report-table .table-bordered > tbody > tr > td {
    border: 1px solid #ff7214;
}
.lead-bg {
    background-color: #eb5e00 !important;
    color: white;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


.tab-theme .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px !important;
    background-color: #f7f7f7;
    padding: 10px 18px 10px 18px !important;
    border-top: 2px solid #ededed !important;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #e6e6e6;
    color: #676a6c;
}
.tab-theme .nav-tabs > li.active > a, .tab-theme .nav-tabs > li.active > a:hover, .tab-theme .nav-tabs > li.active > a:focus {
    border-top: 2px solid #1ab394 !important;
    border-bottom: 1px solid white !important;
}

.field-heading {
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px;
}
.field-heading h4 {
    border-bottom: 2px solid #18a488;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: -2px;
    padding-right: 16px;
    color: #17a286;
}
.panel-tab-content
{
  margin-bottom: 10px;
}
.sub-section-heading {
    margin-bottom: 15px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 11px;
    color: #5a5a5a;
    font-size: 18px;
}

.mb-10
{
  margin-bottom: 10px !important;
}
.mb-15
{
  margin-bottom: 15px !important;
}
.mb-20
{
  margin-bottom: 20px !important;
}
.mb-25
{
  margin-bottom: 25px !important;
}
.mb-30
{
  margin-bottom: 30px !important;
}
.mt-10
{
  margin-top: 10px !important;
}
.mt-15
{
  margin-top: 15px !important;
}
.mt-20
{
  margin-top: 20px !important;
}
.mt-25
{
  margin-top: 25px !important;
}
.mt-30
{
  margin-top: 30px !important;
}
.user-img img {
    width: 26px;
    border-radius: 50%;
    border: 2px solid #e4e4e4;
    vertical-align: middle;
    margin-right: 2px;
}
.nav.navbar-top-links a {
    font-size: 13px !important;
}
.navbar-top-links li a {
    padding: 15px 10px !important;
    min-height: 50px;
}
.text-default
{
  color: black !important;
}
.table-sm
{
  max-width: 700px;
  margin: 0 auto;;
}


.image-block
{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  animation: slider 20s linear infinite 1s
}
@keyframes slider {
  0%,15%
  {
    background-image: url(../img/login--bg.jpg);
  }
  20%,35%
  {
      background-image: url(../img/login--bg-2.jpg);
  }
  40%,55%
  {
    background-image: url(../img/login--bg-3.jpg);
  }
  60%,75%
  {
    background-image: url(../img/login--bg-4.jpg);
  }
  80%,95%
  {
    background-image: url(../img/login--bg-5.jpg);
  }
  100%
  {
    background-image: url(../img/login--bg.jpg);
  }
}


.tab-header
{
  margin-bottom: 0px;
  border-radius: 0px;
  border-bottom: 0;
}
.well-badge {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 4px 2px;
    border-radius: 20px;
    color: #2d3d4c;
}
.form-discription {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    border: 1px solid #ececec;
    margin-top: 24px;
    background-color: #ececec;
    padding: 12px;
    color: #6b6b6b;
    border-top: 4px solid #e8e8e8;
    margin-bottom: -20px;
    border-bottom: 0px;
    margin-left: -4px;
    margin-right: -4px;
}
/*============================================
				Graph Dashboard
=============================================*/
.graphs_section .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

 .graphs_section   .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

  .graphs_section  .panel-title {
        font-size: 14px;
    }

 .graphs_section   .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

  .graphs_section  .more-less {
        float: right;
        color: #212121;
    }

 .graphs_section   .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }
.main-entry-box label{ margin-top:6px;}
.main-entry-box .btn{ height: 30px; margin-bottom: 0px;}
.main-entry-box .form-control{ height: 30px; padding: 4px 12px; border-radius: 4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.highcharts-container {width:100% !important;
    height:100% !important;}
/*=====================================================
            Comments Model
======================================================*/
.modal-header h3{color: #3f9684; margin: 0; text-align: left}
.modal-body .popup-messages {
    background: #fff none repeat scroll 0 0;
    height: 275px;
    overflow: auto;
    float: left;
    width:100%;
}
.popup-messages::after, .popup-messages::before{ content: ""; display: table;}
.popup-messages::after{ clear: both;}
.direct-chat-messages {
    overflow: auto;
    padding: 10px;
    transform: translate(0px, 0px);
    
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages abbr.timestamp {
    background: #3f9684 none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}

.popup-head-right .btn-group {
    display: inline-flex;
	margin: 0 8px 0 0;
	vertical-align: top !important;
}
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #636364;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    width: 30px;
}
.popup-head-right .btn-group .dropdown-menu {
    border: medium none;
    min-width: 122px;
	padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 10px;
	color: #303030;
}

.popup-messages abbr.timestamp {
    background: #3f9684  none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages .direct-chat-messages {
    height: auto;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
    color: #fff;
    opacity: 0.6;
}

.popup-messages .direct-chat-name {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 0 49px !important;
	color: #3f9684;
	opacity: 0.9;
}
.popup-messages .direct-chat-info {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}
.popup-messages  .big-round {
    margin: -9px 0 0 !important;
}
.popup-messages  .direct-chat-img {
    border: 1px solid #fff;
	background: #3f9684  none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: -21px 0 0;
    width: 40px;
}
.direct-chat-reply-name {
    color: #fff;
    font-size: 15px;
    margin: 0 0 0 10px;
    opacity: 0.9;
}

.direct-chat-img-reply-small
{
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    height: 20px;
    margin: 0 8px;
    width: 20px;
	background:#3f9684;
}

.popup-messages .direct-chat-msg {
    margin-bottom: 10px;
    position: relative;
}

.popup-messages .doted-border::after {
	background: transparent none repeat scroll 0 0 !important;
    border-right: 2px dotted #fff !important;
	bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
	 display: inline;
	  z-index: -2;
}

.popup-messages .direct-chat-msg::after {
    background: #fff none repeat scroll 0 0;
    border-right: medium none;
    bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
	 display: inline;
	  z-index: -2;
}
.direct-chat-text::after, .direct-chat-text::before {
   
    border-color: transparent #dfece7 transparent transparent;
    
}
.direct-chat-text::after, .direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #d2d6de transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}
.direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}
.direct-chat-text {
    background: #d2d6de none repeat scroll 0 0;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #444;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
}

.padding_right_9px {
    padding-right: 9px !important;
}