#promo {
    height: 100vh;
    background-image: url(../images/App_Slider.jpg);
    background-size: cover;
    position: relative;
}
#promo canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
}
.banner-content
{
  position:relative;
  z-index:1000
}
.title-top {
    margin-bottom: 60px;
}
.h-full
{
  height: 100%;
}
.banner-content h2 {
    font-size: 38px;
    font-weight: 600;
    position: relative;
}
.banner-content h2::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 6px;
    border-top: 1px solid rgba(255, 255, 255, 0.34);
    border-bottom: 1px solid rgba(255, 255, 255, 0.34);
    bottom: -18px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.faq .item {
    padding: 30px;
    background: #f5f5f5;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 3px solid rgba(205, 85, 71, 0.41);
}
.faq .item .question .fa {
    margin-right: 10px;
    color: rgba(205, 85, 71, 0.78);
}
.banner-content h5 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 100px;
}
.theme-color
{
      color: #cd5547;
}
.btn-rounded {
    border-radius: 20px;
    padding: 6px 43px;
}
.contact .intro li {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 16px;
}
.contact .intro li a {
    color: #ffffff;
}
.social-icons a {
    display: inline-block;
    background: #b34133;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
}
.testimonials .item .quote-box {
    background: #f5f5f5;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-top: 3px solid rgba(202, 87, 73, 0.38);
    position: relative;
    margin-bottom: 23px;
}
.testimonials .item .quote-box .fa {
    color: rgba(205, 85, 71, 0.61);
    font-size: 18px;
    position: absolute;
    left: 30px;
    top: 20px;
}
.address {
    background-color: rgba(136, 51, 40, 0.37);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}
.address h4 {
    margin-top: 0px;
    background-color: red;
    padding: 10px 0px;
    background-color: rgba(201, 85, 71, 0.67);
    font-size: 15px;
}
.story .team .member img {
    margin-bottom: 15px;
    border: 6px solid rgba(255, 255, 255, 0.19);
    box-sizing: border-box;
}
.nav-btn {
    background-color: #cd5547;
    border-radius: 20px;
    padding: 5px 20px !important;
    margin-top: 9px;
    color: white !important;
    font-size: 13px !important;
}
.nav-btn:hover
{
  background-color: #d04c3d !important;
}
footer ul
{
  display: inline-block;
}
.features {
    padding: 80px 0;
    background-color: #f5f5f5;
}
.item-inner {
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    border: 1px dashed rgba(205, 85, 71, 0.27);
    position: relative;
    overflow: hidden;
}
.item-inner::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #cd5547;
    left: -20px;
    top: -20px;
    transform: rotate(45deg);
}
.item
{
  margin-bottom: 20px;
}
.faq .item .question .fa {
    margin-right: 14px;
    color: rgba(205, 85, 71, 0.78);
    font-size: 34px;
}
.header .main-nav button {
    background: #cd5547;
    color: #fff !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.contact .intro li .fa {
    margin-right: 10px;
    color: rgba(247, 247, 247, 0.8);
}
.contact .title {
    margin-bottom: 15px;
    margin-top: 0;
}
.btn-theme:hover {
    background: #b34538;
    border: 1px solid #a54034;
    color: #fff;
    outline: none
}
/*margin css*/
.mar-r10
{
  margin-right: 10px;
}
.mar-b0
{
  margin-bottom: 0px;
}
.mar-b10
{
  margin-bottom: 10px;
}
.mar-b15
{
  margin-bottom: 15px;
}
.mar-b20
{
  margin-bottom: 20px;
}
.mar-b25
{
  margin-bottom: 25px;
}
.mar-b30
{
  margin-bottom: 30px;
}
.mar-t10
{
  margin-top: 10px;
}
.mar-t15
{
  margin-top: 15px;
}
.mar-t20
{
  margin-top: 20px;
}
.mar-t25
{
  margin-top: 25px;
}
.mar-t30
{
  margin-top: 30px;
}

/*-----------flex css------------------*/
.flex-element {
  display: flex; }
  .flex-element.pull-right {
    justify-content: flex-end; }
  .flex-element.center {
    justify-content: center; }
    .flex-element.align-vert
    {
      align-items: center;
    }
  .flex-element.center-both {
    align-items: center;
    justify-content: center; }
  .flex-element.align-bw {
    justify-content: space-between; }
  .flex-element.wrap {
    flex-wrap: wrap; }

    .flex-element.column
    {
      flex-direction: column;
    }
    .flex-grow
    {
      flex: 1;
    }
/*-----------flex css------------------*/
